h1 {
  font-size: 4rem;
  margin: 2rem 0 0;
}

h2 {
  font-size: 2.3rem;
}

.capture {
  background-color: #4baf95 !important;
  border-color: #4baf95 !important;
}

/* Sections
–––––––––e–––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../../../images/tools/funnel-tools/capture-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

.pricing .column {
  border: 1px solid lightgray;
  border-radius: 4px;
}
.pricing h5 {
  color: white;
  padding: 1rem 0;
  margin-bottom: 0;
}
.pricing .price {
  font-size: 6rem;
}
.pricing li {
  list-style-type: none;
}

@media (max-width: 550px) {
  .pricing .column {
    margin-bottom: 4rem;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .hero {
    padding: 12rem 0;
    text-align: left;
    height: 165px;
  }
  .section {
    padding: 12rem 0 11rem;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 10rem 0 19rem;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
}

