h1 {
  font-size: 4rem;
  margin: 2rem 0 0;
}

h2 {
  font-size: 2.3rem;
}

.capture {
  background-color: #4baf95 !important;
  border-color: #4baf95 !important;
}

.striped {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fbfaf8;
}

/* Sections
–––––––––e–––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 4rem 0 2rem;
  text-align: center;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  padding: 8rem 0 7rem;
  background-image: url('../img/capture-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value .heading {
  margin-bottom: .3rem;
}
.value .description {
  opacity: .8;
  font-weight: 300;
}

/* Pricing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pricing .column {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.pricing h5 {
  color: white;
  padding: 1rem 0;
  margin-bottom: 0;
}
.pricing .price {
  font-size: 6rem;
}
.pricing li {
  list-style-type: none;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about h4 {
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.about p {
  font-size: 2rem;
}

.about img {
  border-radius: 50%;
}

/* Questions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.questions h4 {
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.questions .columns {
  text-align: left;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 2rem 0 1px;
  color: #ccc;
  font-weight: 300;
}

/* Smaller than 550 */
@media (max-width: 550px) {
  h1, h2 {
    text-align: center;
  }

  .pricing .column {
    margin-bottom: 4rem;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .values {
    padding: 12rem 0 11rem;
  }
  .pricing h5 {
    font-size: 2.2rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .values {
    padding: 14rem 0 15rem;
  }
}



